body{
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

button {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 2px;
    font-size: 18px;
    padding: 8px;
    margin-left: 2px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(116, 115, 115);
}
img{
    width: 100%;
}